<div class="nav-links">
    <a href="/" style="--i:1;">Home</a>
    <a href="/blog" style="--i:2;">Blog</a>
    <a href="/about" style="--i:3;">About</a>
    <a href="/contact" style="--i:3;">Contact</a>
</div>